<p id="notice"><%= notice %></p>

<p>
  <strong>Comment:</strong>
  <%= @video_comment.comment %>
</p>

<%= link_to 'Edit', edit_video_comment_path(@video_comment) %> |
<%= link_to 'Back', video_comments_path %>
